@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;700;800;900&display=swap');
.rgb {
  color: aqua;
}
body {
  padding: 1% 5%;
  background-color:#08060cf1 !important;
  
}
span {
  color: white!important;
}
.logo {
  background-image: linear-gradient(25deg, #ff8080, #7105ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: rgb(255, 255, 255);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #ff80bf;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #272727;
}

::-webkit-scrollbar-thumb:active {
  background-color: #cf689b;
}
.highlight:hover {
  cursor: pointer;
  transition: 0.2s;
  color: white;

}
option {
padding: 2%!important;
background-color: #181717e8!important;
}
.gradient {
  /* Primeiro passo: definir um degradê como fundo */
  background-image: linear-gradient(115deg, #ff8080, #7105ff);
  
  /* Segundo passo: apagar do fundo tudo que não estiver imediatamente atrás de texto */
  background-clip: text;
  -webkit-background-clip: text; /* Alguns navegadores precisam do prefixo */

  /* Terceiro passo: apagar o texto, deixando apenas o fundo atrás dele */
  -webkit-text-fill-color: transparent;

  /* Cor que contraste com o degradê, caso o navegador não suporte `background-clip: text` */
  color: black;
  
}
.gradientApiGit {
  /* Primeiro passo: definir um degradê como fundo */
  background-image: linear-gradient(115deg, #80d7ff, #05ff50);
  
  /* Segundo passo: apagar do fundo tudo que não estiver imediatamente atrás de texto */
  background-clip: text;
  -webkit-background-clip: text; /* Alguns navegadores precisam do prefixo */

  /* Terceiro passo: apagar o texto, deixando apenas o fundo atrás dele */
  -webkit-text-fill-color: transparent;

  /* Cor que contraste com o degradê, caso o navegador não suporte `background-clip: text` */
  color: black;
  
}
.gradientMobile {
  /* Primeiro passo: definir um degradê como fundo */
  background-image: linear-gradient(135deg, #ff8080, #ff05ea);
  /* Segundo passo: apagar do fundo tudo que não estiver imediatamente atrás de texto */
  background-clip: text;
  -webkit-background-clip: text; /* Alguns navegadores precisam do prefixo */

  /* Terceiro passo: apagar o texto, deixando apenas o fundo atrás dele */
  -webkit-text-fill-color: transparent;

  /* Cor que contraste com o degradê, caso o navegador não suporte `background-clip: text` */
  color: black;
  
}
.css-1ynfsgs {
  margin: 0!important;
}
.kbd {
  color: #08070b;
  background: #8f9ba8;
  padding: 1px 5px;
  border-radius: 4px;
  transition: 0.2s ease-in-out;
  font-family: var(--fonts-code);
  font-size: 14px;
}
.kbd:hover {
  background: #fff;
}
.buttonHome {
  color: white;
  padding: .5% .2%;
  font-size: 15px;
  max-width: fit-content;
  font-weight: 600;
  text-align: start;
  border-radius: 5px;
  transition: .5s;
}
.buttonHome:hover {
  background-color: rgb(56, 56, 56);
}
.container {
  padding: 1% 30%;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  display: flex;
}
.animate {
  position: relative;
  color: rgb(255, 255, 255);
  text-decoration: none!important;
}

.animate:hover {
  color: rgb(255, 255, 255);
}

.animate::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  bottom: 10px;
  left: 0;
  background-image: linear-gradient(135deg, #ff8080, #ff05ea);
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.3s ease;
}
.margin{
  width: 50%;
  margin-left: 15%;
  position: relative;
  background-color: red;
}
.animate:hover::before {
  transform: scaleX(1);
}
.photo {
  display: flex;
}
.none {
  display: block;
}
img {
  width: 45%;
  border-radius: 15px;
  padding-bottom: 0%;
}

@media only screen and (max-width: 1300px) {
  .photo {
    display: block;
    padding-bottom: 5%;
  }
  img {
    width: 100%;
  }
  .margin{
    margin-top: 5%;
    width: 100%;
    margin-left: 0%;
    position: relative;
    background-color: red;
  
  }
  .container {
    width: 100%;
  }
  .none {
    display: none;
  }
  .gradientMobile {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .photo {
    display: block;
    padding-bottom: 5%;
  }
  .gridmobile {
    grid-template-columns: none!important;
  }
  img {
    width: 100%;
  }

  .container {
    padding: 0%;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    display: flex;
  }
}